@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  src: local(""),
    url("../fonts/nunito-sans-v12-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/nunito-sans-v12-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
  padding: 0;
  margin: 0;
  font-family: "Nunito Sans";
}

.sidebar {
  position: fixed;
  width: 15%;
  height: 100%;
  background-color: #ffffff;
  box-shadow: 60px 0px 55px #dcdfe4;
}

ul li a {
  padding: 20px;
  border-bottom: 1px solid gray;
}

ul li a {
  color: gray;
  display: block;
  text-decoration: none;
  text-align: left;
  background-color: transparent;
}

ul li a:hover {
  background-color: lightskyblue;
  border-left: solid dodgerblue;
}

.sidebar i {
  float: right;
}

.logo {
  position: relative;
  height: 8%;
  text-align: center;
  background-color: black;
}

body {
  background-color: #f3f5f8;
}

.logo-img {
  content: url("../images/rp-logo.png");
  padding: 5px;
}

.profile-pic {
  position: relative;
  background-color: #ffffff;
  left: 15%;
  width: 85%;
  height: 56px;
  border-bottom: 1px gray;
  box-shadow: 0px 60px 59px #f0f2f7;
  display: inline-block;
}

.profile-pic button {
  margin-left: 98%;
  margin-top: 10px;
  position: absolute;
  border: none;
  background-color: white;
  font-weight: bolder;
  padding: 8px;
}

#panel {
  position: absolute;
  width: 7%;
  margin-left: 91%;
  margin-top: 4%;
  padding: 10px;
  display: none;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 5px;
}

#panel a {
  position: absolute;
  text-decoration: none;
  background-color: transparent;
  color: #514d6a;
  margin-left: 7px;
}

.profile-pic-img {
  content: url("../images/profile_pic.jpg");
  height: 40px;
  width: 45px;
  margin-top: 7px;
  margin-right: 28px;
  border-radius: 11px;
  float: right;
}

.container {
  position: relative;
  width: 81%;
  left: 17%;
  margin-top: 35px;
  border: 2px solid whitesmoke;
  background-color: white;
  margin-bottom: 30px;
}

.container-1 {
  width: 96%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 15px;
  margin-left: 18px;
  justify-content: center;
  align-items: center;
}

.triangle-div {
  position: absolute;
  margin-top: 7px;
  margin-left: 7px;
  width: 0;
  height: 0;
  border-top: 50px solid #f9434a;
  border-right: 50px solid transparent;
}

.triangle-div p {
  position: absolute;
  transform: rotate(317deg);
  font-size: 13px;
  color: white;
  margin-top: -40px;
  font-weight: bold;
  margin-left: 1px;
}

.container-1 .catalog-1,
.catalog-2,
.catalog-3,
.catalog-4,
.catalog-5,
.catalog-6 {
  border: 1px solid lightgray;
  padding: 10px;
  margin-left: 10px;
}

.catalog-1 img {
  content: url("../images/001.jpg");
  width: 160px;
  height: 200px;
  margin-left: 85px;
}

.catalog-2 img,
.catalog-5 img {
  content: url("../images/002.jpg");
  width: 160px;
  height: 200px;
  margin-left: 85px;
}

.catalog-3 img,
.catalog-6 img {
  content: url("../images/003.jpg");
  width: 160px;
  height: 200px;
  margin-left: 85px;
}

.catalog-4 img {
  content: url("../images/004.jpg");
  width: 160px;
  height: 200px;
  margin-left: 85px;
}

.container-size-btn {
  margin: 14px 4px 0 0;
  width: 23px;
  height: 18px;
  border-radius: 50px;
  background-color: #ffffff;
  border: 1px solid lightgray;
  font-size: 10px;
}

.price {
  position: absolute;
  margin-top: -77px;
  margin-left: 21%;
  font-size: 22px;
  color: #514d6a;
}

.price-underline {
  position: absolute;
  margin-top: -40px;
  margin-left: 24%;
  font-size: 12px;
  color: #514d6a;
}

.chair-name-p {
  margin-top: 12px;
  font-size: 14px;
  color: #514d6a;
  font-weight: bold;
}

.lenses-p {
  margin-top: 12px;
  font-style: italic;
  font-size: 10px;
}
